.root{
	-fx-background-color: #333333;
	-fx-font-family: monospace;
	-fx-hgap: 1px;
    -fx-vgap: 1px;
}

.botones{
	-fx-font-size: 16px;
	-fx-background-radius: 0px;
	-fx-background-insets: 0px;
}

.botones-grises{
	
}

.cuadros-de-texto{
	
}

.button:pressed {
	-fx-border-color: white;
}